:root{
    --main-color:#18298bde;
}
*{
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
}
.container{
    padding-left: 10px;
    padding-right: 10px;
    margin: auto;
}
/* Start Grid System */
@media(min-width:576px){
    .container{
        min-width: 540px;
    }
}
/* @media (min-width:768px){
    .container{
        max-width: 720px;
    }
} */
@media(min-width:992px){
    .container{
        max-width: 960px;
    }
}
@media(min-width:1200px){
    .container{
        max-width: 1140px;
    }
}
@media(min-width:1420px){
    .container{
        max-width: 1380px;
    }
}
/* End Grid System */
/* Start Setting Box */
.setting-box{
    position: fixed;
    left: -200px;
    top: 0;
    width: 200px;
    z-index: 1000;
    background: #FFF;
    min-height: 100vh;
    transition: 0.5s;
    border: 2px solid #CCC;
}
.setting-box.open{
    left: 0;
}
.setting-box .toggle-settings{
    position: absolute;
    top: 80px;
    right: -30px;   
    width: 0;
    background: #FFF;
    padding: 0;
    width: 30px;
    padding: 8px 0;
    text-align: center;
    cursor: pointer;
    border-radius: 0 10px 10px 0;
}
.setting-box .options-box{
    background: #CCC;
    text-align: center;
    margin: 10px 10px 0;
    padding: 10px;
    border-radius: 10px;
}
.setting-box .options-box h4{
    margin: 0;
    color: var(--main-color);
    font-size: 14px;
}
.setting-box .options-box .color-list{
    padding: 0;
    list-style: none;
    text-align: center;
}
.setting-box .options-box .color-list li{
    display: inline-block;
    width: 20px;
    background-color: #FFF;
    height: 20px;
    border-radius: 50%;
    margin: 0 2px;
    cursor: pointer;
    border: 3px solid #FFF;
    opacity: 0.5;
}
.setting-box .options-box .color-list li.active{
    opacity: 1;
}
.setting-box .options-box .color-list li:first-child{
    background-color: #18298bde;
}
.setting-box .options-box .color-list li:nth-child(2){
    background-color: #a518bd;
}
.setting-box .options-box .color-list li:nth-child(3){
    background-color: #ff5c29;
}
.setting-box .options-box .color-list li:nth-child(4){
    background-color: #03a9f4;
}
.setting-box .options-box .color-list li:nth-child(5){
    background-color: #ff387c;
}
.setting-box .random-background{
margin-top: 10px;
}

.setting-box .options-box span
{
    width: 50px;
    background-color: var(--main-color);
    border-radius: 10px;
    display: inline-block;
    color: #fff;
    font-size: 14px;
    padding:4px 10px;
    margin-top: 5px;
    opacity: 0.5;
    cursor: pointer;
}
.setting-box .options-box span.active{
    opacity: 1;
}
/* Start Navigation Bullets */
.nav-bullets{
    position: fixed;
    top:50%;
    right: 5px;
    transform: translateY(-50%);
    z-index: 1000;
}
.nav-bullets .bullet{
    border: 3px solid var(--main-color);
    color: #FFF;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 20px auto;
    cursor: pointer;
    position: relative;
}
.nav-bullets .bullet:hover .tool-tip{
display: block;
}
.nav-bullets .bullet .tool-tip{
position: absolute;
width: 120px;
background-color: var(--main-color);
right: 25px;
text-align: center;
border-radius: 10px 3px 3px 10px ;
padding: 2px 0;
margin-bottom: 5px;
top: -6px;
cursor: default;
pointer-events: none;
display: none;
}
.nav-bullets .bullet .tool-tip::before{
    content: '';
    border-style: solid;
    border-width: 10px;
    position: absolute;
    height: 0;
    width: 0;
    border-color: transparent transparent transparent var(--main-color);
    right: -20px;
}
/* End Navigation Bullets */

.reset-options{
    background-color: #f51100;
    border: none;
    width: 176px;
    margin: 10px 10px;
    text-align: center;
    padding: 10px 0;
    color: #FFF;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
}

/* End Setting Box */


/* Start Landing */
.landing-page{
    min-height: 100vh;
    min-width: 100vw;
    background-image: url(../imgs/Landing-imgs/04.jpg);
    background-size: cover;
    position: relative;
}
.overlay{
    background-color: rgba(0, 0, 0, 0.25);
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
}
.header{
    width: 100%;
    position: relative;
    z-index: 3;
    color: #fff;
    display: flex;
}
.header .logo{
    width: 300px;
    padding: 15px;
    font-weight: bold;
}
.header .logo span{
    color: var(--main-color);
    font-size: 30px;
}
.header .links-container{
    width: 100%;
    text-align: right;
}
.header .links{
    list-style: none;
    padding-left: 0;
}
.header .links li{
    display: inline-block;
    margin-left: 15px;
    text-decoration: none;
}
.header .links li a{
    color: #fff;
    text-decoration: none;
}
.header .links li a:hover,
.header .links li a.active
{
color: var(--main-color);
}
.header .toggle-links{
    display: none;
    background: none;
    border: none;
    width: 40px;
    cursor: pointer;
    margin-top: 20px;
    margin-right: 10px;
}
.header .toggle-links.open-list::before{
    content: '';
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #FFF transparent;
    position: absolute;
    top: 40px;
    right: 20px;
}

.header .toggle-links span{
    display: block;
    background: #FFF;
    height: 4px;
    margin-bottom: 3px;
}
@media (max-width:991px){
    .header .links{
        display: none;
    }
    .header .links.open{
        display: block;
        background-color: #FFF;
        position: absolute;
        left: 0;
        top: 44px;
        width: 100%;
        border-radius: 5px;
        text-align: left;
    }
    .header .links.open li{
        display: block;
        margin: 10px;
    }
    .header .links.open li a{
        color: var(--main-color);
        font-weight: bold;
    }
    .header .toggle-links{
        display: inline-block;
    }
}
.introduction{
    z-index: 2;
    position: absolute;
    left: 50%;
    top: 50%;
    color: #fff;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 80%;
}
@media(max-width:575px){
  .introduction h1 {
    font-size: 1em;
  }
    }
.introduction h1 span{
    color: var(--main-color);
    font-size: 40px;
}
.introduction p {
    line-height: 30px;
}
/* End Landing */
/* Start About Us */
.about-us{
display: flex;
padding-top: 50px;
padding-bottom: 50px;
}

.about-us .info-box{
flex: 1;
}
.about-us h2{
    text-align: center;
    font-size: 35px;
    color: var(--main-color);
    /* margin:0 0 50px; */
    font-weight: bold;
    letter-spacing: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 3px solid var(--main-color) ;
    border-radius: 0 20px;
    width: 50%;
    margin: auto;
    margin-bottom: 20px;
}
.about-us .info-box p{
line-height: 35px;
color: #4d4c4c;
font-size: 1rem;
}
.about-us .img-box{
flex: 1;
text-align: center;
}
@media(max-width:575px){
    .about-us{
        display: block;
        margin: 0 15px;
        text-align: center;
    }
    .about-us .info-box h2{
        font-size: 25px;
    }
    }
/* End About Us */
/* Start skills Section */
.skills{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #EEE;
}
.skills h2{
    text-align: center;
    font-size: 35px;
    color: var(--main-color);
    /* margin:0 0 50px; */
    font-weight: bold;
    letter-spacing: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 3px solid var(--main-color) ;
    border-radius: 0 20px;
    width: 50%;
    margin: auto;
    margin-bottom: 20px;
}
.skills .skill-box{
    display: flex;
    background-color: #FFF;
    padding: 15px;
    margin-bottom:15px;
}
.skills .skill-box .skill-name{
width: 140px;
font-weight: bold;
line-height: 30px;
text-align: center;
}

.skills .skill-box .skill-progress{
width: 100%;
height: 30px;
background-color: #e7e7e7;
border-radius: 6px;
position: relative;
overflow: hidden;
}
.skills .skill-box .skill-progress span{
height: 100%;
background-color: var(--main-color);
position: absolute;
left: 0;
top: 0;
width: 0;
transition: all .5s;
}
@media(max-width:575px){
.skills h2{
    font-size: 25px;
}
.skills .container{
    padding: 0;
}
.skills .skill-box{
    display: block;
}
.skills .skill-box .skill-name{
    width: 100%;
    margin-bottom:15px;
}
}
@media(max-width:768px){
    .skills .container{
        width: 100%;
    }
}
/* End Skills Section */
/* Start Gallery Section */
.gallery-section{
padding-top: 50px;
padding-bottom: 50px;
}
.gallery-section h2{
    text-align: center;
    font-size: 35px;
    color: var(--main-color);
    /* margin:0 0 50px; */
    font-weight: bold;
    letter-spacing: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 3px solid var(--main-color) ;
    border-radius: 0 20px;
    width: 50%;
    margin: auto;
    margin-bottom: 20px;
}
.gallery-section .images-box{
text-align: center;
}
.gallery-section .images-box img{
width: 250px;
height: 150px;
padding: 3px;
background-color: #f6f6f6;
border: 1px solid #CCC;
cursor: pointer;
}
.popup-overlay{
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    top: 0;
    left: 0;
    z-index: 1000;
}
.popup-box{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFF;
    border: 2px solid #CCC;
    padding: 20px;
    z-index: 1001;
    border-radius: 20px;
}
.popup-box h3{
text-align: center;
font-weight: bold;
margin: 0 0 15px;
color: var(--main-color);
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.popup-box img{
    max-width: 100%;
}
.popup-box .close-popup-btn{
    position: absolute;
    color: #fff;
    font-size: 15px;
    right: -15px;
    top:-15px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: var(--main-color);
    cursor: pointer;
    border-radius: 30%;
    font-family: Arial, Helvetica, sans-serif;
}
@media(max-width:575px){
    .gallery-section h2{
        font-size: 25px;
        width: 55%;
    }
}
/* End Gallery Section */
/* Start Timeline Section */
.timeline-section{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #EEE;
}
.timeline-section .timeline-content{
    overflow: hidden;
    position: relative;
}
.timeline-section .timeline-content::before{
    content: '';
    width: 3px;
    height: 100%;
    position: absolute;
    background-color: var(--main-color);
    left: 50%;
    margin: -1px;
    top: 0;
}
.timeline-section .timeline-content .year{
    position: relative;
    text-align: center;
    padding: 3px 6px;
    background-color: var(--main-color);
    width: 50px;
    margin: 20px auto;
    font-weight: bold;
    color: #FFF;
    border-radius: 5px;
    z-index: 2;
}
.timeline-section .timeline-content .left,
.timeline-section .timeline-content .right{
    width: calc(50% - 25px);
    margin-bottom: 40px;
    position: relative;
}
.timeline-section .timeline-content .left{
    float: left;
}
.timeline-section .timeline-content .left::before,
.timeline-section .timeline-content .right::before{
    content: '';
    width: 14px;
    height: 14px;
    border: 3px solid var(--main-color);
    border-radius: 50%;
    position: absolute; 
    top: 20px;
    background-color: #FFF;
}
.timeline-section .timeline-content .left::before{
    right: -35px;
}
.timeline-section .timeline-content .right{
    float: right;
}
.timeline-section .timeline-content .right::before{
    left: -35px;
}
.timeline-section .timeline-content .content{
    padding: 20px;
    background-color: #FFF;
    border-radius: 10px;

}
.timeline-section .timeline-content .content h3{
    color: var(--main-color);
    margin: 0 0 10px;
    font-weight: bold;
}
.timeline-section .timeline-content .content p{
    margin: 0;
    color: #666;
    line-height: 1.6;
}
.timeline-section .timeline-content .left .content::before,
.timeline-section .timeline-content .right .content::before{
content: '';
border-style: solid;
border-width: 10px;
position: absolute;
height: 0;
width: 0;
}
.timeline-section .timeline-content .left .content::before{
border-color: transparent transparent transparent var(--main-color);
right: -20px;
}
.timeline-section .timeline-content .right .content::before{
border-color: transparent var(--main-color) transparent transparent ;
left: -20px;
}

@media(max-width:575px){
    .timeline-section .timeline-content .left,
     .timeline-section .timeline-content .right{
        width: 100%;
    }
    .timeline-section .timeline-content .left::before,
     .timeline-section .timeline-content .right::before{
       display: none;
    }
    .timeline-section .timeline-content .left .content::before,
     .timeline-section .timeline-content .right .content::before {
        display: none;
     }
}

/* End Timeline Section */
/* Start Feature Section */
.features-section{
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: #FFF;
}
.features-section h2{
    text-align: center;
    font-size: 35px;
    color: var(--main-color);
    /* margin:0 0 50px; */
    font-weight: bold;
    letter-spacing: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 3px solid var(--main-color) ;
    border-radius: 0 20px;
    width: 50%;
    margin: auto;
    margin-bottom: 20px;
}
.features-section .feat-box{
    width: calc(97% / 3);
    float: left;
    background-color: #f5f5f5;
    margin:0 0 20px;
    text-align: center;
    margin-right: 1%;
    border: 2px solid var(--main-color);
    border-radius: 30px;
}

.features-section .feat-box img{
    width: 120px;
    height: 100px;
    margin-top: 10px;
}
.features-section .feat-box h4{
    position: relative;
    font-size: 22px;
    margin: 15px 0 40px;
}
.features-section .feat-box h4::before{
    content: '';
    background-color: var(--main-color);
    width: 60px;
    height: 4px;
    position: absolute;
    left: 50%;
    margin-left: -30px;
    bottom: -20px;
}
.features-section .feat-box p {
    width: 80%;
    color: #696868;
    line-height: 1.6;
    margin: 0 auto;
}

@media(max-width:992px){
    .features-section .container{
        width: 100%;
    }
}
@media(max-width:837px){
    .features-section .feat-box {
        width: calc(97% / 2);
    }
}
@media(max-width:575px){
    .features-section .feat-box{
        clear: both;
        display: block;
        width: 95%;
        margin: auto;
        margin-bottom: 10px;
    }
    .features-section h2{
        font-size: 25px;
    }
}

/* End Feature Section */
/* Start Testimonials Section */
.testimonials{
    padding-top: 80px;
    padding-bottom: 80px;
    position: relative;
    margin-top: 50px;
}
.testimonials::before{
    content: '';
    width: 50%;
    background-color: var(--main-color);
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
}
.testimonials::after{
    content: '';
    width: 50%;
    background-color: #212121;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
}
.testimonials h2{
font-weight: bold;
font-size: 30px;
color: #fff;
text-align: left;
position: relative;
z-index: 2;
margin-bottom: 30px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
letter-spacing: 7px;
}
.testimonials .testi-box{
    width: calc(98% / 3);
    background-color: #FFF;
    float: left;
    position: relative;
    padding: 20px;
    z-index: 2;
}
.testimonials .testi-box:not(:last-of-type){
    margin-right: 1%;
}
.testimonials .testi-box > p{
    color: #5b5b5b;
    margin-bottom: 20px;
    line-height: 1.7;
    font-style: italic;
    font-size: 16px;
}
.testimonials .person-info{
    overflow: hidden;
}
.testimonials .person-info img{
float: left;
border-radius: 50%;
margin-right: 10px;
}
.testimonials .person-info h4{
    margin: 16px 0 15px;
    font-weight: bold;
}
.testimonials .person-info p{
    margin: 0;
    color: #5b5b5b;
    font-family: fantasy;
    letter-spacing: 2px;
}
@media(max-width:795px){
    .testimonials .testi-box{
        width: 98%;
        margin-bottom: 15px;
    }
}
@media(max-width:992px){
    .testimonials h2{
     text-align: center;
    }
 }
/* End Testimonials Section */ 
/* Start contact Section */
.contact{
    padding-top: 80px;
    padding-bottom: 80px;
    background-image: url('/imgs/contact.jpg');
    background-size: contain;
    position: relative;
}
.contact form{
    width: 80%;
    margin: auto;
}
.contact .container{
    z-index: 2;
    position: relative;
    overflow: hidden;
}
.contact h2{
    text-align: center;
    font-size: 35px;
    color: var(--main-color);
    /* margin:0 0 50px; */
    font-weight: bold;
    letter-spacing: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 3px solid var(--main-color) ;
    border-radius: 0 20px;
    width: 50%;
    margin: auto;
    margin-bottom: 30px;
}
.contact .overlay{
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(255, 255, 255, 0.6);
}

.contact .left{
    float: left;
    width: 49%;
}
.contact .right{
    float: right;
    width: 49%;
}
.contact form input:not([type='submit']),
.contact form textarea{
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    display: block;
    border: 1px solid #EEE;
    background-color: rgba(186, 186, 186, 0.8);
    border-radius: 10px;
}
.contact form input:not([type='submit']):focus,
.contact form textarea:focus{
    outline: 2px solid var(--main-color);
}
.contact form input{
    height: 40px;
}
.contact form textarea{
    height: 150px;
}
.contact form input[type='submit']{
    width: 100%;
    background-color: var(--main-color);
    border-color: transparent;
    color: #fff;
    font-weight: bold;   
    cursor: pointer;
    border-radius: 10px;
   
}
.contact form textarea:focus::-webkit-input-placeholder,
.contact form input:not([type='submit']):focus:-webkit-input-placeholder{
opacity: 0;
transition: 0.5s;
}
.contact form textarea:focus::-moz-placeholder,
.contact form input:not([type='submit']):focus:-moz-placeholder{
opacity: 0;
transition: 0.5s;
}
.contact form textarea:focus::placeholder,
.contact form input:not([type='submit']):focus::placeholder{
opacity: 0;
transition: 0.5s;
}
@media(max-width:795px){
    .contact .left,
    .contact .right{
        float: none;
        width: 95%;
        align-items: center;
    }
}
@media(max-width:575px){
   .contact h2{
    font-size: 25px;
   }
}
/* End Contact section */
/* Start Footer */
.footer{
    background-color: var(--main-color);
    padding: 20px;
    text-align: center;
    font-size: 20px;
    color: #FFF;
}
/* End Footer */
.clearfix{
    clear: both;
}

